body{
  // background-image: url('https://i.pinimg.com/originals/fb/55/27/fb5527025eb1494e1f02c1f1e1e2294c.jpg');
  background-image: url('../../images/field.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.DraftedGroup{
  margin-bottom: 25px;
  background-color: whitesmoke;
  font-size: 12px;
  opacity: .8;
  border: 2px inset black;
  box-shadow: inset 0 0 20px black;
}

.DraftedGroup .table td {
  padding: 0;
}

.DraftedGroup h1 {
  background-color: black;
  background-image: url('https://i.ytimg.com/vi/KM0kJAqrVDo/maxresdefault.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  margin: 0;
  padding-bottom: 15px;
}

.PositionGroup {
  height: 400px;
  overflow: scroll;
  margin-bottom: 25px;
  background-color: whitesmoke;
  font-size: 12px;
  opacity: .88;
  border: 2px inset black;
  // box-shadow: inset 0 0 10px black;
}

.PositionGroup .table td {
  padding: 1.5% 0 1.5% 0;
  font-weight: bold;
}

.PositionGroup .table th {
  padding-left: 2px;
}

.PositionGroup h1{
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 15px;
  background-image: url('https://i.ytimg.com/vi/KM0kJAqrVDo/maxresdefault.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.tierOne {
  background-color: rgb(17, 163, 78);
}

.tierTwo {
  background-color: rgb(17, 122, 163);

}

.tierThree {
  background-color: rgb(245, 233, 69);
}

.tierFour {
  background-color: rgb(243, 166, 22);
}

.tierFive {
  background-color: rgb(255, 80, 80);
}