.DraftPage {
  background-color: #cdb632; }

.DraftedGroup {
  height: 825px;
  overflow: scroll;
  margin-bottom: 25px;
  background-color: white;
  font-size: 12px; }

.DraftedGroup .table td {
  padding: 0; }

.DraftedGroup h1 {
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 15px; }

.PositionGroup {
  height: 400px;
  overflow: scroll;
  margin-bottom: 25px;
  background-color: white;
  font-size: 12px; }

.PositionGroup .table td {
  padding: 0; }

.PositionGroup h1 {
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 15px; }
