body {
  background-image: url("../../images/field.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.DraftedGroup {
  margin-bottom: 25px;
  background-color: whitesmoke;
  font-size: 12px;
  opacity: .8;
  border: 2px inset black;
  box-shadow: inset 0 0 25px black; }

.DraftedGroup .table td {
  padding: 0; }

.DraftedGroup h1 {
  background-color: black;
  background-image: url("../../images/football.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  margin: 0;
  padding-bottom: 15px; }

.PositionGroup {
  height: 400px;
  overflow: scroll;
  margin-bottom: 25px;
  background-color: whitesmoke;
  font-size: 12px;
  opacity: .88;
  border: 2px inset black; }

.PositionGroup .table td {
  padding: 1.5% 0 1.5% 0;
  font-weight: bold; }

.PositionGroup .table th {
  padding-left: 2px; }

.PositionGroup h1 {
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 15px;
  background-image: url("https://i.ytimg.com/vi/KM0kJAqrVDo/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; }

.tierOne {
  background-color: rgba(17, 163, 78, 0.5); }

.tierTwo {
  background-color: rgba(17, 122, 163, 0.5); }

.tierThree {
  background-color: rgba(245, 233, 69, 0.5); }

.tierFour {
  background-color: rgba(243, 166, 22, 0.5); }

.tierFive {
  background-color: rgba(255, 80, 80, 0.5); }
