body{
  background-image: url('https://i.pinimg.com/originals/fb/55/27/fb5527025eb1494e1f02c1f1e1e2294c.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.DraftedGroup{
  margin-bottom: 25px;
  background-color: white;
  font-size: 12px;
  opacity: .9;
}

.DraftedGroup .table td {
  padding: 0;
}

.DraftedGroup h1 {
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 15px;
}

.PositionGroup {
  height: 400px;
  overflow: scroll;
  margin-bottom: 25px;
  background-color: white;
  font-size: 12px;
  opacity: .9;
}

.PositionGroup .table td {
  padding-left: 2px;
}

.PositionGroup .table th {
  padding-left: 2px;
}

.PositionGroup h1{
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 15px;
}

// .tierOne {
//   background-color: gold;
// }

// .tierTwo {
//   background-color: red;
// }